/*    WordPress Core
-------------------------------------------------------------- */
.alignnone {margin: 5px 20px 20px 0;}
.aligncenter, div.aligncenter {display: block; margin: 5px auto 5px auto;}
.alignright, a img.alignright {@extend .img-right;}
.alignleft, a img.alignleft {@extend .img-left;}
a img.alignnone {margin: 5px 20px 20px 0;}
a img.aligncenter {display: block; margin-left: auto; margin-right: auto}
.wp-caption {background: #fff; border: 1px solid #f0f0f0; max-width: 96%; /* Image does not overflow the content area */ padding: 5px 3px 10px; text-align: center;}
.wp-caption.alignnone {margin: 5px 20px 20px 0;}
.wp-caption.alignleft {margin: 5px 20px 20px 0;}
.wp-caption.alignright {margin: 5px 0 20px 20px;}
.wp-caption img {border: 0 none; height: auto; margin: 0; max-width: 98.5%; padding: 0; width: auto;}
.wp-caption p.wp-caption-text {font-size: 11px; line-height: 17px; margin: 0; padding: 0 4px 5px;}

/*    Comments
-------------------------------------------------------------- */
ol.commentlist {list-style: none; margin: 0;}
ol.commentlist li.comment {border-bottom: 1px solid $text-color; padding: 20px;}
ol.commentlist li.comment div.vcard cite.fn {font-style: normal;}
ol.commentlist li.comment div.vcard img.avatar {float:right; margin: 0 0 20px 20px;}
ol.commentlist li.comment div.comment-meta {font-size: $font-size * .8;}
ol.commentlist li.comment div.comment-meta a {color: #ccc;}
ol.commentlist li.comment div.reply {font-size: $font-size;}
ol.commentlist li.comment div.reply a {font-weight: bold;}
ol.commentlist li.comment ul.children {list-style: none; margin: 20px 0 0;}
ol.commentlist li.comment ul.children li.depth-2 {margin: 0 0 20px 20px;}
ol.commentlist li.comment ul.children li.depth-3 {margin: 0 0 20px 20px;}
ol.commentlist li.comment ul.children li.depth-4 {margin: 0 0 20px 20px;}
ol.commentlist li.even {background: none;}
ol.commentlist li.odd {background: none;}
ol.commentlist li.parent {border-left: 5px solid $text-color;}